.tokens {
	padding: 20px;
	margin: 10px;
}

.walletInfo {
	background-color: #344e41;
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 20px;
	font-size: 1.2rem;
	text-align: left;
	color: #f8f9fa;
}

.tokenTable {
	width: 100%;
	border-collapse: collapse;
	/* text-align: center; */
	table-layout: fixed;
}

.tokenTable thead {
	background-color: #344e41;
	color: white;
}

.tokenTable th {
	padding: 10px;
	text-align: left;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.tokenTable tbody tr {
	background-color: white;
	transition: background-color 0.3s ease;
}

.tokenTable tbody tr:hover {
	background-color: #f9f9f9;
}

.tokenTable td {
	padding: 10px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	text-align: left;
	vertical-align: top;
}

.tokenInfo {
	display: flex;
	align-items: center;
	gap: 10px;
}

.tokenLogo {
	max-width: 40px;
	max-height: 40px;
	margin-right: 10px;
	vertical-align: middle;
	border-radius: 50%;
}

.positiveChange {
	color: green;
}

.negativeChange {
	color: red;
}
