.main {
	text-align: center;
	margin-top: 5vh;
}

.hero-section {
	max-height: max-content;
	text-align: center;
	padding: 30px;
}

.hero-heading-container {
	margin: 30px 0;
}

.hero-h1 {
	background-image: linear-gradient(
		315deg,
		hsla(82, 20%, 62%, 1) 24%,
		hsla(131, 22%, 29%, 1) 89%
	);
	color: transparent;
	background-clip: text;
	animation: h1-logo 2s ease-in-out 1s infinite alternate-reverse;
	font-family: 'Cookie', cursive;
}

@keyframes h1-logo {
	from {
		background-image: linear-gradient(
			315deg,
			hsla(82, 20%, 62%, 1) 24%,
			hsla(131, 22%, 29%, 1) 89%
		);
		transform: rotate(0deg) translateX(50px) rotate(0deg);
		font-size: 5rem;
	}
	to {
		background-image: linear-gradient(
			315deg,
			hsla(131, 22%, 29%, 1) 24%,
			hsla(82, 20%, 62%, 1) 89%
		);
		transform: rotate(360deg) translateX(50px) rotate(-360px);
		font-size: 6rem;
	}
}

.hero-h2 {
	font-size: 3rem;
	margin-top: 20px;
}
